/* FOR EDIT MODAL */

.edit-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.edit-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.edit-modal-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35vw;
  min-height: 25vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-weight: bold;
  font-size: 2vw;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  z-index: 10;
  padding-bottom: 6vh;
}
.edit-modal-confirmation-btn {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  position: absolute;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.edit-modal-confirmation-btn > div {
  border-radius: 5px;
  padding: 10px;

  cursor: pointer;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: white;
}

.edit-modal-OK-btn {
  background-color: #439e5d;
  font-size: 1vw;
}
.edit-modal-cancel-btn {
  background-color: #555d67;
  font-size: 1vw;
}

/* INPUT RENAME  */
.edit-modal-rename-input-wrapper {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
input[type="text"] {
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.col-3 {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
} /* necessary to give position: relative to parent. */

textarea {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.edit-textarea-effect {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}
.edit-textarea-effect ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.edit-textarea-effect:focus ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  left: 0;
}

.input-error-text {
  color: red;
  font-size: 1rem;
  font-weight: 100;
}
