.App {
  height: 100vh;
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc5c7d),
    to(#6a82fb)
  );
  background-image: -o-linear-gradient(left, #fc5c7d, #6a82fb);
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
}
